main {
  background-color: $veryPaleOrange;
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  #expense-data {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(7, 1fr);
    height: 13rem;
    .day {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      cursor: pointer;
      width: 100%;
      position: relative;
      z-index: 1;
      .pop {
        background-color: $darkBrown;
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;
        justify-content: center;
        padding: 5px;
        display: none;
        // z-index: -1;
        animation: totalFlick ease 0.3s;
      }
      &.show {
        .pop {
          right: 0;
          left: 0;
          color: $veryPaleOrange;
          font-weight: 700;
          display: flex;
          width: max-content;
        }
        .bar {
          opacity: 65%;
        }
      }
      .bar {
        border-radius: 0.25rem;
        background: $softRed;
      }
      span {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  .divider {
    width: 100%;
    height: 2px;
    background: $cream;
    margin: 1rem 0;
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
    .last-update {
      text-align: end;
    }
  }
}
