// Primary Colors
$softRed: hsl(10, 79%, 65%);
$primCyan: hsl(186, 34%, 60%);
//Neutral Colors
$darkBrown: hsl(25, 47%, 15%);
$medBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

$base: #fff;
